@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100vh; }

img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 75vh;
  margin: auto;
  display: block; }

@font-face {
  font-family: 'calibre123';
  src: url("fonts/Roboto-Regular_enoki-VF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'burgess';
  src: url("fonts/burgess-regular-pro.otf") format("otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'burgess';
  src: url("fonts/burgess-italic-pro.otf") format("otf");
  font-weight: 400;
  font-style: italic; }

@keyframes breathe {
  0% {
    font-variation-settings: 'bloo' 0; }
  80% {
    font-variation-settings: 'bloo' 200; }
  100% {
    font-variation-settings: 'bloo' 0; } }

.body {
  font-family: calibre123;
  font-size: 2rem;
  line-height: 1.2em; }

a {
  text-decoration: none; }

a:link,
a:visited {
  color: #FFF; }

a:hover,
a:active {
  color: #CC9B2C; }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  animation: breathe 10000ms infinite both; }

h1 {
  position: relative;
  line-height: 1.1;
  text-align: left;
  cursor: pointer; }

h2 {
  padding-top: 5vh;
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center; }

h3 {
  margin-top: 1em;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.02;
  text-align: center; }

h4 {
  margin-top: 2em;
  font-size: 1.2em; }

h5 {
  font-size: 40vw;
  text-align: center;
  margin: 0;
  line-height: 1em; }

h2, h3, h4, p {
  margin-bottom: 1.5rem; }

.popout {
  color: #2B2B00; }

.popout__interior--right {
  font-size: 1.5rem; }

.pull-data {
  cursor: pointer; }

.popout ul {
  list-style-type: none; }
  .popout ul li {
    text-indent: -3em; }

.popout a:link,
.popout a:active,
.popout a:visited {
  color: #000;
  text-decoration: underline; }

.popout a:hover {
  text-decoration: none; }

.editorial {
  font-size: 2rem;
  font-family: 'burgess'; }
  .editorial--author {
    text-align: right; }

.popout__interior--biography,
.footnotes {
  font-size: 1.7rem;
  line-height: 2rem;
  font-family: 'burgess';
  width: 50%; }

.footnotes {
  margin-left: 50%; }

.see-footnote {
  vertical-align: super;
  text-decoration: none;
  font-size: 0.66em;
  font-weight: bold; }

.footnote {
  font-family: Burgess;
  border-top: 1px solid #000;
  padding-top: 1em;
  margin-top: 1em; }

.footnote-label {
  display: inline-block;
  padding-left: 3em; }

.lead__image--caption,
.caption {
  font-family: burgess;
  line-height: 1.2em;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem; }

label {
  font-size: 2.5rem; }

input[type="checkbox"] {
  margin-right: 1em; }

input[type="checkbox"] + label {
  transition: all 0.3s; }

input[type="checkbox"]:checked + label {
  font-variation-settings: 'bloo' 200; }

button {
  background: #2B2B00;
  color: #CC9B2C;
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #CC9B2C;
  border-radius: 30px;
  font-variation-settings: 'bloo' 200; }

button:hover {
  color: #2B2B00;
  background: #CC9B2C; }

button:active {
  font-variation-settings: 'bloo' 0; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #2B2B00;
  z-index: 10;
  height: 10rem; }
  .header__tba img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 9.5rem; }
  .header__menu {
    text-align: right;
    list-style-type: none; }
    .header__menu li {
      display: inline-block;
      margin-left: 2rem; }

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem 1rem;
  background: #2B2B00;
  z-index: 10; }
  .footer__tba img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 2rem;
    margin: 0; }
  .footer__menu {
    list-style-type: none;
    text-align: right; }
    .footer__menu li {
      display: inline-block;
      margin-left: 2rem; }

#defaultCanvas0 {
  position: fixed;
  z-index: 5;
  pointer-events: none;
  top: 0px; }

.section__main {
  margin: 10rem auto;
  font-size: 3rem; }
  .section__main .placeholder {
    display: none; }
  .section__main li {
    font-size: 2rem;
    line-height: 1.2em;
    margin-bottom: 0.5em; }
  .section__main--list {
    max-width: 1000px;
    margin: 20px auto; }
  .section__main--list.random {
    max-width: 100%;
    list-style-type: none;
    height: calc(100vh - 240px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    .section__main--list.random .placeholder {
      display: block; }
    .section__main--list.random li {
      cursor: pointer;
      padding: 1em;
      line-height: 1.05em; }
      .section__main--list.random li:hover {
        color: #CC9B2C; }

.popout {
  position: absolute;
  top: 60px;
  background: #FFF;
  z-index: 5;
  width: 100%;
  min-height: 100vh; }
  .popout__menu {
    position: fixed;
    right: 1rem;
    top: 13rem;
    font-size: 10rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 99; }
    .popout__menu img {
      width: 5rem; }
    .popout__menu div {
      display: inline-block; }
      .popout__menu div:hover {
        color: #FFF; }
  .popout__interior {
    max-width: 120rem;
    padding: 0 10vw;
    margin: 3rem auto 20rem; }
    .popout__interior--grid-right {
      font-size: 0.8em; }

.lead__image {
  margin-bottom: 5vw; }

.section__book-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: none; }
  .section__book-menu--interior {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5em;
    max-width: 1000px; }
  .section__book-menu .popout__close {
    position: fixed;
    right: 1rem;
    top: 13rem;
    font-size: 10rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 99; }

.editorial {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 5vh 0;
  border-bottom: 1px solid #2B2B00; }
  .editorial--content {
    padding-bottom: 5vh; }
  .editorial--illustration {
    width: 60%;
    position: relative;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat; }

.section__book-content {
  display: none; }
  .section__book-content.active {
    display: block; }
  .section__book-content--article {
    display: none; }
    .section__book-content--article.active {
      display: block; }

.preamble--cover {
  display: none;
  position: fixed;
  background: rgba(43, 43, 0, 0.6);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 900; }
  .preamble--cover .popout__close {
    position: fixed;
    right: 1rem;
    top: 13rem;
    font-size: 10rem;
    font-weight: 100;
    cursor: pointer;
    z-index: 99; }

.preamble--text {
  position: absolute;
  background: white;
  color: #2B2B00;
  padding: 2em;
  text-align: center;
  width: 100%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#lostRiversMap {
  width: 80vw;
  border: 1px solid #000;
  min-height: 70vh;
  position: relative;
  left: calc((80vw - 82rem) / 2 * -1);
  margin-bottom: 1em; }

#popout__bibliography h2 {
  margin-top: 1em; }

#popout__bibliography li {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  line-height: 1.2;
  font-family: burgess;
  text-indent: -1.2em; }

.📖-root {
  color: black; }
  .📖-root .📖-left .📖-running-header,
  .📖-root .📖-right .📖-running-header {
    right: auto !important;
    left: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center !important;
    width: 100%; }
  .📖-root .book--editorial {
    font-family: 'burgess'; }
  .📖-root h1,
  .📖-root h2,
  .📖-root h3,
  .📖-root h4,
  .📖-root h5 {
    animation: none !important;
    font-variation-settings: "bloo" 200 !important; }
  .📖-root .popout__interior--biography, .📖-root .📖-root .footnotes {
    width: 100%; }

.body {
  background: #2B2B00;
  color: #FFF; }
