.📖-root {
    color:black;

    .📖-left .📖-running-header,
    .📖-right .📖-running-header {
    right:auto!important;
    left:auto!important;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center!important;
    width: 100%;
}

.book--editorial {
    font-family: 'burgess'; 
}


& h1,
& h2,
& h3,
& h4,
& h5 {
    animation: none!important;
    font-variation-settings: 'bloo' 200!important;
}




& .popout__interior--biography, .📖-root .footnotes {
    width:100%;
}


}







