.footer {
    width:100%;    
    position:fixed;
    bottom:0;
   display:grid;
   grid-template-columns: 1fr 2fr;
   padding:3rem 1rem;
   background:$green;
   z-index:10;
   //border-top:1px solid rgba($white,0.3);


   &__tba img{
    //    text-align:left;
       max-width: 100%;
       width: auto;
       height: auto;
       max-height: 2rem;
       margin:0;
   }


    &__menu {
        list-style-type: none;
        text-align:right;

        & li { 
            display:inline-block;
            margin-left:2rem;
        }
    }
}

@media (max-width:1000px) {
    .footer {
        position:static;
        display:block;
    }
}
