// @font-face {
//     font-family: 'calibre123';
//     src: url('/fonts/Calibre123-Regular.otf') format("opentype");  
//     font-weight: normal;
//     font-style: normal;

// }


// @font-face {
//     font-family: 'calibre123';
//     src: url('fonts/Calibre123-Semibold.otf') format("opentype");  
//     font-weight: bold;
//     font-style: normal;

// }
// @font-face {
//     font-family: 'burgess';
//     src: url('fonts/burgess-regular-pro.otf') format("opentype");  
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'burgess';
//     src: url('fonts/burgess-italic-pro.otf') format("opentype");  
//     font-weight: normal;
//     font-style: italic;
// }

@font-face {
    font-family:'calibre123';
    src: url('fonts/Roboto-Regular_enoki-VF.ttf') format('truetype');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
  font-family:'burgess';
  src: url('fonts/burgess-regular-pro.otf') format('otf');
  font-weight:  400;
  font-style:   normal;
}

@font-face {
  font-family:'burgess';
  src: url('fonts/burgess-italic-pro.otf') format('otf');
  font-weight:  400;
  font-style:   italic;
}


@keyframes breathe {
    0% {
      font-variation-settings: 'bloo' 0;
     
    }
    60% {
      font-variation-settings: 'bloo' 0;
      
    }
    
    80% {
      font-variation-settings: 'bloo' 200;
     
    }  
  
    100% {
      font-variation-settings: 'bloo' 0;
     
    }
  }
  

.body {
    font-family: calibre123;
    font-size:2rem;
    line-height:1.2em
 
}
a {
    text-decoration:none;
}
a:link,
a:visited {
    color:$white;
}


a:hover,
a:active {
    color:$yellow;
}


h1, h2, h3, h4, h5 {
    font-weight:normal;
    animation: breathe 10000ms infinite both;
}
h2 {
    font-size:5rem;
    line-height:1em;
}
h3 {
    font-size:3rem;
    font-weight:bold;
    letter-spacing:0.02;
}

h5 {
  font-size: 40vw;
  text-align: center;
  margin: 0;
  line-height: 1em;
}



h1, h2, h3, h4, p {
  margin-bottom:1.5rem;
}

.popout__interior--right {
  font-size:1.5rem;
}

.pull-data {
  cursor:pointer;
}

.popout ul {
  list-style-type:none;

  & li {
    text-indent:-3em;
  }
}

.footnotes {
  font-size:1.5rem;

}

.popout a:link {
  color:#000;
  text-decoration:underline;
}
.popout a:hover {
  
  text-decoration:none;
}

.editorial {
  padding-left:2em;
  font-size:1.25em;
  font-family: 'burgess';
}