// @font-face {
//     font-family: 'calibre';
//     src: url('/fonts/Calibre-Regular.otf') format("opentype");  
//     font-weight: normal;
//     font-style: normal;

// }


// @font-face {
//     font-family: 'calibre';
//     src: url('fonts/Calibre-Semibold.otf') format("opentype");  
//     font-weight: bold;
//     font-style: normal;

// }
// @font-face {
//     font-family: 'burgess';
//     src: url('fonts/burgess-regular-pro.otf') format("opentype");  
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'burgess';
//     src: url('fonts/burgess-italic-pro.otf') format("opentype");  
//     font-weight: normal;
//     font-style: italic;
// }

@font-face {
    font-family:'calibe';
    src: url('/fonts/Roboto-Regular_enoki-VF.ttf') format('truetype');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}




@keyframes breathe {
    0% {
      font-variation-settings: 'bloo' 0;
     
    }
    60% {
      font-variation-settings: 'bloo' 0;
      
    }
    
    80% {
      font-variation-settings: 'bloo' 200;
     
    }  
  
    100% {
      font-variation-settings: 'bloo' 0;
     
    }
  }
  

.body {
    font-family: calibre;
    font-size:2rem;
    animation: breathe 500ms infinite both;
}
a {
    text-decoration:none;
}
a:link,
a:visited {
    color:$white;
}


a:hover,
a:active {
    color:$yellow;
}


h1, h2, h3, h4 {
    font-weight:normal;
    animation: breathe 500ms infinite both;
}
h2 {
    font-size:5rem;
}
h3 {
    font-size:1.5rem;
    font-weight:bold;
}
