
// [block]__[element]--[modifier]
//BASE
@import "base";
@import "typography";

//LAYOUT
@import "header";
@import "footer";

$yellow: #f8d84c;
$black: #000;
$white: #FFF;



.body {
    background:$black;
    color:$white;
}

