* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#wrapper {
    position:fixed;
    width:calc(100vw - 25px);
    height:calc(100vh - 25px);
    top:25px;
    left:25px;
}
.direction {
    position:fixed;
    width:50vw;
    height:50vh;
    background:#e6e6e6;
}

#direction__1 {
    top:0;
    left:0;
}

#direction__2 {
    top:0;
    left:50vw;
    background:#b3b3b3;
}

#direction__3 {
    top:50vh;
    left:0;
    background:#b3b3b3;
}

#direction__4 {
    top:50vh;
    left:50vw;
    
}
#circle {
    background:#f8c959;
    width:50px;
    height:50px;
    border-radius: 50%;
    position:fixed;
    top:50%; left:50%;
    margin-top:-25px;
    margin-left:-25px;
    z-index:999;
    cursor:move;
    transform-origin: 50% 50%;
}
#circle:hover {
    border:2px solid rgb(103, 102, 102);
}

#circle:active {
    border:5px solid rgb(103, 102, 102);
}