*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100vh; }

@font-face {
  font-family: 'calibre';
  src: url("/fonts/Calibre-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'calibre';
  src: url("fonts/Calibre-Semibold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'burgess';
  src: url("fonts/burgess-regular-pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'burgess';
  src: url("fonts/burgess-italic-pro.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

.body {
  font-family: calibre;
  font-size: 2rem; }

h1, h2, h3, h4 {
  font-weight: normal; }

h2 {
  font-size: 5rem; }

h3 {
  font-size: 1.5rem;
  font-weight: bold; }

.header {
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem; }
  .header__tba {
    text-align: left; }
  .header__publication-title {
    text-align: center; }
  .header__menu {
    text-align: right;
    list-style-type: none; }
    .header__menu li {
      display: inline-block;
      margin-left: 2rem; }

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem 1rem; }
  .footer__menu {
    list-style-type: none;
    text-align: right; }
    .footer__menu li {
      display: inline-block;
      margin-left: 2rem; }

.body {
  background: #000;
  color: #FFF; }
