*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100vh; }

@font-face {
  font-family: 'calibre123';
  src: url("fonts/Roboto-Regular_enoki-VF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@keyframes breathe {
  0% {
    font-variation-settings: 'bloo' 0; }
  60% {
    font-variation-settings: 'bloo' 0; }
  80% {
    font-variation-settings: 'bloo' 200; }
  100% {
    font-variation-settings: 'bloo' 0; } }

.body {
  font-family: calibre123;
  font-size: 2rem; }

a {
  text-decoration: none; }

a:link,
a:visited {
  color: #FFF; }

a:hover,
a:active {
  color: #f8d84c; }

h1, h2, h3, h4 {
  font-weight: normal;
  animation: breathe 5000ms infinite both; }

h2 {
  font-size: 5rem; }

h3 {
  font-size: 1.5rem;
  font-weight: bold; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  background: #000;
  z-index: 10; }
  .header__tba {
    text-align: left; }
  .header__publication-title {
    text-align: center; }
  .header__menu {
    text-align: right;
    list-style-type: none; }
    .header__menu li {
      display: inline-block;
      margin-left: 2rem; }

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem 1rem;
  background: #000;
  z-index: 10; }
  .footer__menu {
    list-style-type: none;
    text-align: right; }
    .footer__menu li {
      display: inline-block;
      margin-left: 2rem; }

#defaultCanvas0 {
  position: fixed;
  z-index: 8;
  pointer-events: none;
  top: 0px; }

.section__main {
  max-width: 100rem;
  margin: 10rem auto;
  font-size: 3rem; }
  .section__main--list.random {
    list-style-type: none; }
    .section__main--list.random li {
      position: fixed;
      width: 30rem;
      font-size: 0.66666em;
      cursor: pointer; }
      .section__main--list.random li:hover {
        color: #f8d84c; }

.popout {
  position: absolute;
  top: 60px;
  background: #f8d84c;
  z-index: 5;
  width: 100%;
  min-height: 100vh;
  color: #000; }
  .popout__menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 10rem;
    font-weight: 100;
    cursor: pointer; }
    .popout__menu div {
      display: inline-block; }
      .popout__menu div:hover {
        color: #FFF; }
  .popout__interior {
    max-width: 120rem;
    margin: 3rem auto; }

.body {
  background: #000;
  color: #FFF; }
