*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100vh; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

@font-face {
  font-family: 'calibre123';
  src: url("fonts/Roboto-Regular_enoki-VF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'burgess';
  src: url("fonts/burgess-regular-pro.otf") format("otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'burgess';
  src: url("fonts/burgess-italic-pro.otf") format("otf");
  font-weight: 400;
  font-style: italic; }

@keyframes breathe {
  0% {
    font-variation-settings: 'bloo' 0; }
  60% {
    font-variation-settings: 'bloo' 0; }
  80% {
    font-variation-settings: 'bloo' 200; }
  100% {
    font-variation-settings: 'bloo' 0; } }

.body {
  font-family: calibre123;
  font-size: 2rem;
  line-height: 1.2em; }

a {
  text-decoration: none; }

a:link,
a:visited {
  color: #FFF; }

a:hover,
a:active {
  color: #CC9B2C; }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  animation: breathe 10000ms infinite both; }

h2 {
  font-size: 5rem;
  line-height: 1em; }

h3 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.02; }

h5 {
  font-size: 40vw;
  text-align: center;
  margin: 0;
  line-height: 1em; }

h1, h2, h3, h4, p {
  margin-bottom: 1.5rem; }

.popout__interior--right {
  font-size: 1.5rem; }

.pull-data {
  cursor: pointer; }

.popout ul {
  list-style-type: none; }
  .popout ul li {
    text-indent: -3em; }

.popout a:link,
.popout a:active,
.popout a:visited {
  color: #000;
  text-decoration: underline; }

.popout a:hover {
  text-decoration: none; }

.editorial {
  padding-left: 2em;
  font-size: 1.25em;
  font-family: 'burgess'; }

.see-footnote {
  vertical-align: super;
  text-decoration: none;
  font-size: 0.66em;
  font-weight: bold; }

.footnote {
  font-family: Burgess;
  border-top: 1px solid #000;
  padding-top: 1em;
  margin-top: 1em; }

.footnote-label {
  display: inline-block;
  padding-left: 3em; }

.caption {
  font-style: italic;
  width: 75%;
  margin-left: 25%;
  line-height: 1.2em;
  text-align: right;
  font-size: 1.5rem;
  margin-bottom: 1.5rem; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  background: #000;
  z-index: 10; }
  .header__tba img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 5.5rem; }
  .header__publication-title {
    text-align: center; }
  .header__menu {
    text-align: right;
    list-style-type: none; }
    .header__menu li {
      display: inline-block;
      margin-left: 2rem; }

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem 1rem;
  background: #000;
  z-index: 10; }
  .footer__menu {
    list-style-type: none;
    text-align: right; }
    .footer__menu li {
      display: inline-block;
      margin-left: 2rem; }

#defaultCanvas0 {
  position: fixed;
  z-index: 8;
  pointer-events: none;
  top: 0px; }

.section__main {
  max-width: 100rem;
  margin: 10rem auto;
  font-size: 3rem; }
  .section__main--list.random {
    list-style-type: none; }
    .section__main--list.random li {
      width: 30rem;
      font-size: 0.66666em;
      cursor: pointer; }
      .section__main--list.random li:hover {
        color: #CC9B2C; }

.popout {
  position: absolute;
  top: 60px;
  background: #CC9B2C;
  z-index: 5;
  width: 100%;
  min-height: 100vh;
  color: #000; }
  .popout__menu {
    position: absolute;
    right: 1rem;
    top: 6rem;
    font-size: 10rem;
    font-weight: 100;
    cursor: pointer; }
    .popout__menu div {
      display: inline-block; }
      .popout__menu div:hover {
        color: #FFF; }
  .popout__interior {
    max-width: 120rem;
    margin: 3rem auto 12rem; }
    .popout__interior--grid {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-column-gap: 1em; }
      .popout__interior--grid-right {
        font-size: 0.8em; }

.body {
  background: #000;
  color: #FFF; }
